# LIST

In [6]:
lst=[1,2,3,4,"Omkar",[5,6,7]]
lst.append(10)
lst

[1, 2, 3, 4, 'Omkar', [5, 6, 7], 10]

In [14]:
lst.pop(2)
lst

[1, 2, 4, 'Omkar', [5, 6, 7], 10]

In [11]:
lst.count(3)

1

In [19]:
lst.reverse()
lst

[10, [5, 6, 7], 'Omkar', 4, 2, 1]

In [25]:
l2=[11,12,13]
lst.extend(l2)
lst

[10, [5, 6, 7], 'Omkar', 4, 2, 1, 4, 5, 6, 4, 5, 6, 11, 12, 13]

In [27]:
lst.copy()

[10, [5, 6, 7], 'Omkar', 4, 2, 1, 4, 5, 6, 4, 5, 6, 11, 12, 13]

In [30]:
lst.insert(1,2500)
lst

[10, 2500, 2500, [5, 6, 7], 'Omkar', 4, 2, 1, 4, 5, 6, 4, 5, 6, 11, 12, 13]

In [40]:
lst.count(2)

1

In [41]:
lst.remove(2500)

In [42]:
lst

[10, 2500, [5, 6, 7], 'Omkar', 4, 2, 1, 4, 5, 6, 4, 5, 6, 11, 12, 13]

In [43]:
lst.clear()

In [44]:
lst

[]

# DICTIONARY

In [46]:
ds={100:"comp",200:"IT",300:"Mech",400:"ENTC"}
ds

{100: 'comp', 200: 'IT', 300: 'Mech', 400: 'ENTC'}

In [51]:
ds.values()

dict_values(['comp', 'IT', 'Mech', 'ENTC'])

In [50]:
ds.keys()

dict_keys([100, 200, 300, 400])

In [52]:
ds.copy()

{100: 'comp', 200: 'IT', 300: 'Mech', 400: 'ENTC'}

In [58]:
ds2={1:"a",2:"b",3:"c",4:"d"}
ds.fromkeys(ds2)

{1: None, 2: None, 3: None, 4: None}

In [59]:
ds.get(200)

'IT'

In [62]:
ds.popitem()

(400, 'ENTC')

In [64]:
ds.setdefault(200)

'IT'

In [65]:
ds.clear()

In [66]:
ds

{}

# SET

In [68]:
st={11,12,13,14,15,12,12,15,16}
st

{11, 12, 13, 14, 15, 16}

In [70]:
st.add(20)
st

{11, 12, 13, 14, 15, 16, 20}

In [74]:
st2={1,2,3,5,11,15}
st.difference(st2)

{12, 13, 14, 16, 20}

In [76]:
st.difference_update(st2)
st

{12, 13, 14, 16, 20}

In [78]:
st.discard(14)
st

{12, 13, 16, 20}

In [83]:
st2.update(st)
st2

{1, 2, 3, 5, 11, 12, 13, 15, 16, 20}

In [84]:
st.intersection(st2)

{12, 13, 16, 20}

In [86]:
st.issubset(st2)

True

In [87]:
st2.issubset(st)

False

In [88]:
st.isdisjoint(st2)

False

In [89]:
st.issuperset(st2)

False

In [91]:
st.pop()

12

In [92]:
st

{13, 16, 20}

In [93]:
st.clear()

In [94]:
st

set()

# TUPLES

In [95]:
t1=("abc","pqr","xyz")

In [96]:
t1

('abc', 'pqr', 'xyz')

In [106]:
t1.count("pqr")

1

In [107]:
t1.index("abc")

0

In [108]:
len(t1)

3

In [109]:
t2=(1,2,3,4,10)

In [111]:
min(t1)

'abc'

In [112]:
max(t1)

'xyz'

# STRINGS

In [115]:
str="OMKAR" 
str2="LONDHE"
print(str,str2)

OMKAR LONDHE

In [118]:
str.capitalize()

'Omkar'

In [120]:
str.casefold()

'omkar'

In [122]:
str.center(3)

'OMKAR'

In [128]:
str.count('A')

1

In [129]:
str.encode()

b'OMKAR'

In [130]:
str.endswith('R')

True

In [131]:
str.find('A')

3

In [132]:
str.isnumeric()

False